%script{:type=>"text/javascript",:src=>"http://maps.google.com/maps/api/js?sensor=false" }
.container
  .top
    %header
      .logo.floatL
        Merisathi
      %nav.nav.floatR
        %ul
          %li
            %a.signin{:href => "#"}
              %img{:src => "/assets/home.png"}/
              %span.text Sign In
          %li
            %a.forum{:href => "#"}
              %img{:src => "/assets/home.png"}/
              %span.text Forum
          %li
            %a.about{:href => "#"}
              %img{:src => "/assets/home.png"}/
              %span.text About Us
          %li
            %a.home{:href => "#"}
              %img{:src => "/assets/home.png"}/
              %span.text Home
      .clear
    %section.mid
      .map.floatL#map_canvas
        /%img{:alt => "", :src => "/assets/map.jpg", :width => "800"}/
      .hotlines.floatR
        .inner
          %h2 Hotlines
          %ul
            %li
              %strong Sushma Thapa
              %br/
              %span.deg - Director of abc
              %span.num.floatR
                Contact No.:
                %strong 1234567889
            %li
              %strong Nikita Acharya
              %br/
              %span.deg - Director of abc
              %span.num.floatR
                Contact No.:
                %strong 1234567889
          %br/
          %button.button.green.floatR View All List
          %br/
          %br/
          %h2 Need Help?
          %ul
            %li
              %strong Sushma Thapa
              %br/
              %span.deg - Director of abc
              %span.num.floatR
                Contact No.:
                %strong 1234567889
            %li
              %strong Nikita Acharya
              %br/
              %span.deg - Director of abc
              %span.num.floatR
                Contact No.:
                %strong 1234567889
          %br/
          %button.button.green.floatR View All List
          %br/
          %br/
      .clear
  %section.bottom
    .rat.floatL
      %h2 RATS AROUND YOU
      %ul
        %li
          %strong Sushma Thapa
          %br/
          %span.deg - Director of abc
          %span.num.floatR
            Contact No.:
            %strong 1234567889
        %li
          %strong Nikita Acharya
          %br/
          %span.deg - Director of abc
          %span.num.floatR
            Contact No.:
            %strong 1234567889
      %br/
      %button.button.green.floatR View All List
      %br/
      %br/
    .talk_with_experts.floatR
      %h2 Chat with Experts
      %ul
        %li
          %strong Sushma Thapa
          %br/
          %span.deg - Director of abc
          %span.num.floatR
            Contact No.:
            %strong 1234567889
        %li
          %strong Nikita Acharya
          %br/
          %span.deg - Director of abc
          %span.num.floatR
            Contact No.:
            %strong 1234567889
      %br/
      %button.button.green.floatR View All List
      %br/
      %br/
    .clear
:javascript
  $('#map_canvas').gmap().bind('init', function() {
  // This URL won't work on your localhost, so you need to change it
  // see http://en.wikipedia.org/wiki/Same_origin_policy
  $.getJSON( '/api/incidents.json', function(data) {
    $.each( data, function() {
    var _self = this;
    $('#map_canvas').gmap('addMarker', {
    'position': new google.maps.LatLng(_self.coordinates[0], _self.coordinates[1]),
    'bounds': false
    }).click(function() {
    $('#map_canvas').gmap('openInfoWindow', { 'content': _self.title }, this);
    });
    });
  });
  });
